bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.ToolkitResearch/.idea/
/1.2/Assemblies/
/_PublisherPlus.xml
/ToolkitResearch.sln.DotSettings.user
/Compat/ToolkitPolls/*
/Source/libs/ToolkitPolls.dll
